.category {
  padding-bottom: 94px;
  padding-top: 54px;
  &__start {
    padding-bottom: 80px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.3);
  }
  &__text {
    padding: 5px 10px;
    border-left: 15px solid #DB4444;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;
  }
  &__list {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
    &-item {
      width: 170px;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      img{
        margin-bottom: 20px;
      }
    }
    &-item:hover {
      background-color: #DB4444;
      color: #FFF;
      border: 1px solid #DB4444;
    }
  }
}
@media only screen and (max-width: 400px) {
  .category {
    padding-bottom: 40px;
    &__start {
      padding-bottom: 40px;
    }
    &__title {
      font-size: 26px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    &__list {
      &-item {
        width: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        img{
          margin-bottom: 20px;
        }
      }
      &-item:hover {
        background-color: #DB4444;
        color: #FFF;
        border: 1px solid #DB4444;
      }
    }
  }
}