.footer {
  background-color: black;
  color: #FFF;
  padding-top: 50px;
  padding-bottom: 20px;
  
  &__card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &-group {
      flex-direction: column;
    }
  }
  &__links {
    color: #FFF;
  }
  &__link {
    color: #FFF;   
  }
  &__text {
    margin-top: 20px;
    font-size: 12px;
  }
  &__inp {
    margin-top: 20px;
    padding: 8px 10px;
    max-width: 300px;
    background-color: transparent;
    color: #FFF;
    margin: 0 auto;
    margin-top: 15px;
  }
  &__list {
    &-link {
      color: #FFF;
      margin-top: 20px;
      font-size: 14px;
    }
  }
  &__img {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    div {
      flex-direction: column;
    }
  }
  &__fecobook {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 800px){
  .footer {
    &__list {
      display: none;
    }
    &__card {
      flex-direction: column;
      text-align: center;
      &-group {
        display: flex;
        justify-content: space-between;
      }
    }
    &__link {
      display: none;
    }
    &__text {
      display: none;
    }
    &__img {
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}