.products {
  padding-bottom: 84px;
  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-img {
      display: flex;
      gap: 20px;
      img {
        background-color: rgba(245, 245, 245, 1);
        padding: 8px;
        border-radius: 50%;
      }
    }
  }
  &__wrapper {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
  }
  &__card {
    position: relative;
    border-radius: 10px;
    border: 2px solid rgb(212, 212, 212);
    color: #FFF;
    &-group{
      background-color: rgba(1, 1, 0, 0.5);
      position: absolute;
      bottom: 0;
      left: 0;right: 0;
      padding: 15px;
    }
    &-img {
      padding-bottom: 130px;
    }
    &-group2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }
    &-title{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      margin-bottom: 10px;
    }
    &-btn {
      width: 100%;
      padding-top: 8px;
      padding-bottom: 8px;
      border-radius: 10px;
      margin-top: 20px;
      border: 2px solid black;
      background-color: rgb(0, 0, 0);
      color: #FFF;
    }
    &-btn:hover {
      background-color: transparent;
    }
    &-layk{
      position: absolute;
      background: url("../../images/img.png") no-repeat;
      background-position: left;
      background-size: 2900%;
      height: 90px;
      width: 90px;
      top: 50%;
      left: 21%;
      transform: translate(-50%,-50%);
      position: absolute;
      top: 30px;
      left: 232px;
      z-index: 5555;
    }
    &-layk.wrapper__card-layk-active {
      animation: animate .8s steps(28) 1;
      background-position: right;
    }
    &-koz {
      position: absolute;
      top: 50px;
      left: 222px;
      z-index: 5555;
    }
  }


  &__found {
    padding-top: 50px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    display: none;
    &-title {
      font-size: 50px;
    }
  }
}
@keyframes animate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
@media only screen and (max-width: 840px) {
  .products {
    &__wrapper {
      justify-content: center;
      gap: 50px;
    }
  }
}
@media only screen and (max-width: 400px) {
  .products{
    &__group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-img {
        display: none;
       
      }
    }
  }
}